{% extends "base.html" %}

{% block title %}Ogl&#261dnij materia&#322{% endblock %}
{% block content %}
<h1>Ogl&#261dnij materia&#322</h1>
<h2>Tytu&#322: {{ material.title }}</h2>

<p>Data: {{ material.date }}</p>

<p>Miejsce: {{ material.place }}</p>

<p>Opis: {{ material.description }}</p>

<p>Tw&#243rca: {{ material.owner }}</p>

<p>Data dodania: {{ material.date_of_creation }}</p>

<p>Tagi: {{ material.tagi }}</p>

<p>Ten material jest elementem nast&#281puj&#261cych kolekcji:
{{ material.member_of_collections }}</p>

{% endblock %}
