{% extends "base.html" %}

{% block title %}Ogladnij kolekcjê {% endblock %}
{% block content %}
<h1>Ogladnij kolekcjê</h1>
<h2>Tytu³: {{ collection.title }}</h2>


<p>Opis: {{ collection.description }}</p>

<p>W³aœciciel: {{ collection.owner }}</p>

<p>Twórca: {{ collection.founder }}</p>

<p>Data dodania: {{ collection.date_of_creation }}</p>

<p>Tagi: {{ collection.tagi }}</p>

<p>Do tej   kolekcji nale¿¹ nastêpuj¹ce materia³y:
</p>
<ul>
{% for collection in collection.materials_belonging %}
<li>{{ collection }}</li>
{% endfor %}
</ul>
{% endblock %}

