{% extends "base.html" %}

{% block title %}Dodaj materia&#322{% endblock %}
{% block content %}
<h1>Dodaj nowy material</h1>
<p>Wype&#322nij poni&#380szy formularz </p>

<form method="post" action="">

<p>{% if form.title.errors %}
<span class="error">
{{ form.title.errors|join:", " }}
</span>
{% endif %}</p>

<p><label for="id_title">Tytu&#322:</label>
{{ form.title }}</p>

<p>{% if form.date.errors %}
<span class="error">
{{ form.date.errors|join:", " }}
</span>
{% endif %}</p>

<p><label for="id_date">Data:</label>
{{ form.date }}</p>

<p>{% if form.description.errors %}
<span class="error">
{{ form.description.errors|join:", " }}
</span>
{% endif %}</p>

<p><label for="id_description">Opis:</label></p>
<p>{{ form.description }}</p>

<p>{% if form.place.errors %}
<span class="error">
{{ form.place.errors|join:", " }}
</span>
{% endif %}</p>

<p><label for="id_code">Miejsce</label></p>
<p>{{ form.place }}</p>

<p>{% if form.tags.errors %}
<span class="error">
{{ form.tags.errors|join:", " }}
</span>
{% endif %}</p>


<p><label for="id_tags">Tagi:</label>
{{ form.tags }}</p>
<p><input type="submit" value="Nadus tutaj!"></p>

</form>
{% endblock %}