{% extends "base.html" %}

{% block title %}Dodaj pro&#347b&#281 o udost&#281pnienie materia&#322ów{% endblock %}
{% block content %}
<h1>Dodaj pro&#347b&#281 o udost&#281pnienie materia&#322ów</h1>
<p>Wype&#322nij poni&#380szy formularz </p>

<form method="post" action="">

<p>{% if form.title.errors %}
<span class="error">
{{ form.title.errors|join:", " }}
</span>
{% endif %}</p>

<p><label for="id_title">Tytu&#322:</label>
{{ form.title }}</p>

<p>{% if form.date.errors %}
<span class="error">
{{ form.date.errors|join:", " }}
</span>
{% endif %}</p>

<p><label for="id_date">Daty skrajne dla poszukiwanych materia&#322ów:</label>
{{ form.date }}</p>

<p>{% if form.description.errors %}
<span class="error">
{{ form.description.errors|join:", " }}
</span>
{% endif %}</p>

<p><label for="id_description">Opis materia&#322ów, których poszukujesz:</label></p>
<p>{{ form.description }}</p>

<p>{% if form.place.errors %}
<span class="error">
{{ form.place.errors|join:", " }}
</span>
{% endif %}</p>

<p><label for="id_code">Miejsca dla poszukiwanych materia&#322ów:</label></p>
<p>{{ form.place }}</p>

<p>{% if form.tags.errors %}
<span class="error">
{{ form.tags.errors|join:", " }}
</span>
{% endif %}</p>


<p><label for="id_tags">Tagi dla pro&#347by:</label>
{{ form.tags }}</p>
<p><input type="submit" value="Nadus tutaj!"></p>

</form>
{% endblock %}