<!DOCTYPE html>
<html lang="pl-PL">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

	<title> {% block title %}{% endblock %}</title>
    
    <style type="text/css">
	
</style>

    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <script src="{{ STATIC_URL}}js/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row-fluid">
        <div class="span2">
            <p>miejsce na logo</p>
        </div>
        <div class="navbar navbar-inverse span7 offset3">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a class="" href = "{% url index %}">Strona g&#322&#243wna</a></li>
                    <li><a href="{% url materials:details %}">Nowe materia&#322y</a></li>
                    <li><a href="{% url materials:collections %}">Nowe kolekcje</a></li>
                    <li><a href="{% url materials:search %}">Szukaj</a></li>
                    <li><a href="{% url materials:requests %}">Pro&#347by o materia&#322y</a></li>
                    <li><a href="{% url profiles:view %}">Twoje konto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
        <hr>
        <footer>Creative Commons / LGPL / inna wolna licencja</footer>
    </div>
</body>
</html>
