<!DOCTYPE html>
<html>
    <head>
        <title>Multiarch - {% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ MEDIA_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" media="screen">
        <script src="{{ MEDIA_URL}}js/jquery-1.9.1.min.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
